openapi: 3.0.0
info:
  title: Sample API
  description: A simple API to demonstrate Spectral linting.
  version: 1.0.0
servers:
  - url: https://api.sample.com/v1
paths:
  /users:
    get:
      summary: Get all users
      description: Retrieve a list of all users.
      operationId: getUsers
      responses:
        "200":
          description: A list of users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
    post:
      summary: Create a user
      description: Create a new user in the system.
      operationId: createUser
      requestBody:
        description: The user to create.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "201":
          description: User created successfully.
        "400":
          description: Invalid input.
  /users/{userId}:
    get:
      summary: Get a user by ID
      description: Retrieve a user by their unique ID.
      operationId: getUserById
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
          description: The ID of the user to retrieve.
      responses:
        "200":
          description: A single user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "404":
          description: User not found.
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        createdAt:
          type: string
          format: date-time
